<div class="row-fluid">
  <div class="span2 main-left-col" id="lists-panel">
    <h1>bTask</h1>
    <div class="left-nav"></div>
  </div>
  <div class="main-right-col">
    <small class="pull-right" id="profile-container"></small>
    <div>
      <div id="sign-in-container">
        <a href="#" id="sign-in-button" class="btn btn-primary">Log In</a>
      </div>
      <div id="sign-out-container">
        <a href="#" id="sign-out-button" class="btn btn-primary">Log Out</a>
      </div>
    </div>
  </div>
</div>